<html>
<head>
 <title>{{person}}'s Resume</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="Resume/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="Resume/style.css" />
  <link rel="stylesheet" type="text/css" href="Resume/highlight.css" />
 </head>
<body>

<div class="container">
  <div class="row-fluid">
    <div class="span12 offset4">
      <img class="img-circle image-custom" src="Resume/img/jlank_off.jpg">
    </div>
      <div class="row-fluid">
        <h1 id="name">{{person}}'s Resume</h1>

        <div class="address">
          {{streetaddress}} <br/>
          {{city}}, {{state}} {{zipcode}}<br/>
          (cell) {{cell}},
          (office) {{office}} <br/>
          <a href="mailto:{{email}}">{{email}}</a>
          <br/><br/>
          <div id="movie"></div>
        </div>
        <hr/>

        <h2>About Me</h2>

        <div id="executive" class="span12">
          <h3 class="title" rel="popover" data-content="{{execsummary}}">Executive Summary</h3>
          <img class="previews" src="Resume/img/summary.jpg">
        </div>

        <div id="objective" class="span12">
          <h3 class="title" rel="popover" data-content="{{objective}}">Objective</h3>
          <img class="previews" src="Resume/img/objective.png">
        </div>
        <hr/>

        <div class="span12">
          <h2>Work Experience</h2>
        </div>
			  {% for employment in employers %}
        <div class="span12">
          <h3 class="title" rel="popover" data-content="{{employment.organization}}: {% for desc in employment.description %} {{ desc.text }} {% endfor %}"><a href="{{employment.orgdomname}}" target="blank">{{employment.title}}</a></h3>
        <img class="previews" src="Resume/img/{{employment.image}}">
        </div>
		    {% endfor %}

        <div class="span12">
          <hr/>
          <h2>Education</h2>
        </div>

			  {% for education in school %}
        <div class="span12">
          <h3 class="title" rel="popover" data-content="Major: {{education.degree}}. Minor: {{education.minor }}"><a href="{{education.schoolwebsite}}" target="blank">{{education.sch}}</a></h3>
          <img class="previews" src="Resume/img/{{education.image}}">
        </div>
		    {% endfor %}

        <div class="span12">
          <hr/>
          <h2>Contact Information</h2>
            <h3><a href="http://twitter.com/jlank" target="blank">@jlank</a></h3>
        </div>
    </div>
  </div>
</div>

<script src="Resume/bonsaijs.js"></script>
<script src="Resume/star.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
<script>
var options = { animation: true, trigger: 'hover', placement: 'bottom' };
$('.title').popover(options)
$(".img-circle").hover(
          function(){this.src = this.src.replace("_off","_on");},
          function(){this.src = this.src.replace("_on","_off");
     });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bonsai/0.4/bonsai.min.js"></script>
<script>
  bonsai.run(document.getElementById('movie'), {
    code: function() {
        x = 150;
        y = 85;

        var dark = true;
        var hue = 0;

        function make() {

          hue = hue + .005 > 1 ? 0 : hue + .005; // vary hue slightly with each star
          var baseColor = color('red').hue(hue);
          var c = dark ? baseColor.darker(.2) : baseColor.lighter(.3);
          dark = !dark;

          var s = new Star(x, y, 50, 5, 0).fill(c).addTo(stage);

          s.animate('3s', {
            factor: 2,
            rotation: Math.PI / 5
          }, {
            easing: 'sineInOut',
            onEnd: function() {
              s.remove();
            }
          });

        }

        stage.on('tick', function(e, f) {
          if (f % 4 === 0) { // every fourth frame
            make();
          }
        });

      },
      width: 300,
      height: 150
          });
</script>


</body>
</html>
